<!DOCTYPE html>
<html lang="en">
    <head>
        <title>tinitiate.com python flask tutorials</title>
        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
     
            <div class="jumbotron">
                <h1>Welcome to tinitiate.com python flask tutorial</h1>
                <p> Easy to learn Python Flask tutorial.</p>
            </div>
     
            <div class="row">
                <div class="col-lg-6">
                    <h4>Easy to learn</h4>
                    <p>Simple examples covering various topics.</p>
                </div>
     
                <div class="col-lg-6">
                    <h4>Fast to understand</h4>
                    <p>concise and to the point code.</p>     
                </div>
            </div>
         </div>
    </body>
</html>